{% macro navbar(title) %}
<div class="dashboard-nav-main-container">
    <div class="container-default w-container">
        <div class="dashboard-nav-container">
            <div class="dashboard-nav-left-content">
                <div class="mg-right-24px">
                    <div class="text-400 medium color-neutral-800">{{ title }}</div>
                </div>

                <div class="input" style="visibility: hidden;"> </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}