.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    font-size: 1.2rem;
}